body {
    font-family: 'Play', sans-serif;
}

.card-body {
    background-color: rgb(27, 111, 207);
    color: white;
    border-radius: 10px;  
}

.jumbotron {
    background-color: rgb(201, 238, 201) !important;
    border: 1px solid black;
}

.list-group {
    background-color: rgb(236, 233, 233);
}

.headline {
    text-align: center;
    background-color: darkblue;
    color: white;
    height: 1.5em;
}

.btn-orange {
    background-color: orange;
}

@media only screen and (max-width: 375px) {
    .headline {
        font-size: 30px;
    }
}

