
.card-body {
    background-color: rgb(27, 111, 207);
    color: white;
    border-radius: 10px;  
}

.jumbotron {
    background-color: white !important;
    border: 1px solid black;
}

.list-group {
    background-color: rgb(236, 233, 233);
}

.headline {
    text-align: center;
    background-color: darkblue;
    color: white;
    height: 1.5em;
}
